<div id="add">
  <h1>Add a meal plan</h1>
  <div class="divider"></div>
</div>
<div id="form">
  <div class="row">
    <h2>Choose the supplier id from the list below:</h2>
    <mat-form-field appearance="fill">
      <mat-label>Choose id</mat-label>
      <mat-select>
        <mat-option value="one">1</mat-option>
        <mat-option value="two">2</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <h2>Register the meal plan category:</h2>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Input category</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="row">
    <h2>Register the frequence:</h2>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Input frequence</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="row">
    <h2>Register the number of frequence:</h2>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Input frequence number</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="row">
    <h2>Register the calories that the meal plan contains:</h2>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Input calories</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="row">
    <h2>Register the price of the meal plan:</h2>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Input price</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <button mat-raised-button id="button">ADD</button>
</div>
