<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP4</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/list">List</a>
      <a class="nav-item nav-link active" routerLink="/add">Add</a>
      <a class="nav-item nav-link active" routerLink="/modify">Modify</a>
      <a class="nav-item nav-link active" routerLink="/delete">Delete</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    <br>Welcome<br />
    <br><br />
    <br>to<br />
    <br><br />
    <br><span class="tout">Tout</span><span class="frais">Frais</span><br />
    <br><br />
  </p>
  <button type="button" class="btn" routerLink="/list">CHECK OUR MEAL PLANS &#10140;</button>
</div>

<router-outlet></router-outlet>
